
<nav style="background-color:#3949ab" class="fixed-top navbar navbar-expand container-fluid" *ngIf="currentUser">
  <div class="collapse navbar-collapse">
      <a class="nav-item nav-link pr-3" style="font-size: 18px;"  routerLink="/">Projects</a>
      <a *ngIf='currentUser.id_rol === 1' class="nav-item nav-link px-3" style="font-size: 18px; " routerLink="sponsors">Sponsors</a>

  </div>
  <div class="navbar-nav">
    <span class="nav pr-3" style="font-size: 18px; color: white; ">HI, {{currentUser.name}}  {{currentUser.last}}</span>
    <a class="nav-item  px-3" style="cursor: pointer;font-size: 14px; color: white; "  (click)="logout()">(Logout)</a>
  </div>
</nav>


<!-- main app container -->
<div class="jumbotron">

  <app-alert></app-alert>
   <router-outlet></router-outlet>

</div>
